<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/gallery.css">
</head>
<body>
	<div class="navbar">
		<ul class="navbar-ul-right">
			<li>contact us</li>
			<li>about the artists</li>
			<li class="nav-gallery-tab">gallery</li>
			<li>home</li>
		</ul>
		<ul class="navbar-ul-left">
			<li>ilizwi lam</li>
		</ul>
	</div>
	<div class="container">
		<div class="gallery-header">Gallery</div>
		<hr></hr>
<!-- 		<%= image_tag("1forgottenpeople.jpg", id: "picture-1", height: 436, width: 360) %> -->
		<div class="gallery-pic-1"></div>
		<br></br>
		<div class="gallery-pic-1-name">Forgotten People</div>
		<div class="gallery-pic-1-photographer">Photographer: Akhona Khube</div>
		<div class="gallery-pic-1-caption">This is an old, abnormal granny who is sitting on a set of wheels. Even now you can find her sitting in the rain nearby where I live. Us as young people should create old age homes for those who are not taken care of.<br></br>I took this picture because it shows that I should work towards creating a better future for others. One dat I should be the one to bring an old age home to the community.</div>
		<br></br>

		<div class="gallery-pic-2"></div>
		<br></br>
		<div class="gallery-pic-2-caption">This old woman is carrying 25 litres of paraffin, and you can see by her facial expression that this is a very heavy duty that she does not have a choice about. She can collapse at any time, but is struggling to get what she wants. These old women are supposed to be kept in a safe place - in an old age home where they can be looked after and stay warm. <br></br> This is one of those problems we are facing, because our government is reckless towards us and towards old people. This situation is also a lost job opportunity for youth, who could be hired by the government to look after grandparents.</div>
		<br></br>

		<div class="gallery-pic-3"></div>
		<br></br>
		<div class="gallery-pic-3-caption">I took this picture because I think that alcohol plays a huge part in the unemployment of the community. There are people in my community that had stable jobs that they ended up losing because of alcohol abuse, and because they spent too much time in taverns. <br></br> In townships people have easy access to alcohol, but I can say that they should focus on positive things and on their potential.</div>
		<br></br>
	</div>
</body>
</html>