<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/contactus.css">
</head>
<body>
	<div class="navbar">
		<ul class="navbar-ul-right">
			<li class="nav-contact-tab">contact us</li>
			<li>about the artists</li>
			<li>gallery</li>
			<li>home</li>
		</ul>
		<ul class="navbar-ul-left">
			<li>ilizwi lam</li>
		</ul>
	</div>
	<div class="container">
		<hr></hr>
		<div class="contact-header">contact us</div>
		<hr></hr>
		<div class="contact-float-right">
			<div class="contact-etafeni-header">etafeni</div>
			<img src="../../assets/images/etafenicontact.png" alt="Etafeni Contact Information" class="etafeni-contact-info" />
		</div>
		<div class="contact-float-left">
			<div class="contact-myvoice-header">ilizwi lam</div>
			<div class="contact-myvoice-body">Thank you so much for visiting the ilizwi lam project! We really appreciate you stopping by. If you have any questions, comments, or suggestions, we would love to hear them. Also, if you want to know more about etafeni, please visit their website at <link>etafeni.org</link>. </div>
		</div>
	</div>
</body>
</html>