body {
	width: 100vw;
	margin: 0;
}

/** Container */
.container {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 90px;
}

/************************************
        CONTACT US HEADER
*************************************/

.contact-header {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 35px;
	font-weight: lighter;
	margin-left: 10px;
	color: #333333;
}

hr {
  border-top: 1px dashed #CACACA;
  width: 100%;
}


/** LEFT */
.contact-float-left {
	float: left;
	max-width: 600px;
	margin-left: 20px;
	margin-right: 50px;
}

.contact-myvoice-header {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 26px;
	font-weight: bolder;
	margin-bottom: 30px;
	color: #25A442;
}


.contact-myvoice-body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	margin-bottom: 30px;
	color: #333333;
}

.contact-group-pic {
	margin-bottom: 70px;
	max-width: 100%;
	height: auto;
}


/** RIGHT */
.contact-float-right {
	float: right;
	width: 300px;
	margin-bottom: 100px;
}

.contact-etafeni-header {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 26px;
	font-weight: bolder;
	margin-bottom: 30px;
	color: #25A442;
}

.contact-etafeni-info {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 17px;
}

.etafeni-contact-text {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 15px;
	color: #6A6666;
	font-weight: lighter;
	margin-bottom: 7px;
}

.etafeni-icon {
	margin-right: 10px;
}


/************************************
        CONTENT	MEDIA QUERIES
*************************************/
@media (min-width: 300px) {
	.contact-float-right {
		float: left;
		width: 300px;
	}
}

@media (min-width: 1220px) {
	.contact-float-right {
		float: right;
		width: 300px;
	}
}