body {
	width: 100vw;
	margin: 0;
}


/************************************
           NAVIGATION BAR
*************************************/

.navbar {
	width: 100%;
	height: 50px;
/*	border-bottom: solid;
	border-width: 1.5px;*/
}

.navbar-ul-right {
	list-style: none;
	text-decoration: none;
	margin: 0 auto;
	margin-right: 50px;
	padding: 0 auto;
}

.navbar-ul-right li {
	float: right;
	padding: 0px 30px 0px 30px;
	font-size: 1em;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: lighter;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 5px 0 5px;
}

.navbar-ul-right li a {
	list-style: none;
	text-decoration: none;
	color: #333333;
}

.navbar-ul-right li.nav-contact-tab {
	background-color: #333333;
}

.navbar-ul-right li.nav-contact-tab a {
	color: white;
}

.navbar-ul-right li:hover {
	background-color: #333333;
	color: white;
}

.navbar-ul-left {
	list-style: none;
	text-decoration: none;
	margin: 0 auto;
	padding: 0 auto;
}

.navbar-ul-left li {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: bolder;
	color: #25A442;
	font-size: 50px;
	margin-left: 30px;
	padding-top: 20px
}



/** Container */
.container {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 90px;
}


/************************************
        CONTACT US HEADER
*************************************/

.contact-header {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 35px;
	font-weight: lighter;
	margin-left: 10px;
	color: #333333;
}

hr {
  border-top: 1px dashed #CACACA;
  width: 100%;
}

.contact-etafeni-header {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 26px;
	font-weight: bolder;
	margin-bottom: 30px;
	color: #25A442;
}

.contact-float-right {
	float: right;
	width: 300px;
}

.contact-etafeni-info {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 17px;
}

.etafeni-contact-text {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 15px;
	color: #6A6666;
	font-weight: lighter;
	margin-bottom: 7px;
}

.etafeni-icon {
	margin-right: 10px;
}

.contact-myvoice-header {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 26px;
	font-weight: bolder;
	margin-bottom: 30px;
	color: #25A442;
}

.contact-float-left {
	float: left;
	width: 600px;
	margin-left: 20px;
	margin-right: 50px;
}

.contact-myvoice-body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	margin-bottom: 30px;
	color: #333333;
}

.contact-group-pic {
	margin-bottom: 70px;
}

